/* Utility */

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* General */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.btn {
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 11px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-white {
  background-color: #FAFCFE;
  color: #FE775A;
  border: 1px solid #FE775A;
}

.btn-white:hover {
  background-color: #FFF1EE;
  transition: background-color 0.3s;
}

.btn-white-solid {
  background-color: #DADEE0;
  color: #32495B;
  font-weight: 500;
}

.btn-white-solid:hover {
  background-color: #fff;
  transition: background-color 0.3s;
}

.btn-orange {
  font-weight: 500;
  color: #fff;
  background-color: #FE775A;
}

.btn-orange:hover {
  background-color: #FFBCAC;
}

.btn-big {
  padding: 20px 40px;
}

.btn-round {
  background-color: #425B76;
  border-radius: 50%;
  padding: 15px;
}

.small-text {
  font-size: 13px;
}

.box {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Top Navigation */

.top-navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #F4F9FD;
  color: #33475B;
  border-bottom: 1px solid #32495B;
  line-height: 70px;
}

.top-navbar ul {
  list-style: none;
  font-size: 0;
}

.top-navbar-left {
  float: left;
}
.top-navbar-right {
  float: right;
}

.top-navbar a {
  text-decoration: none;
  color: #33475B;
  text-transform: capitalize;
}

.top-navbar li {
  display: inline-block;
  font-size: 16px;
}

.top-navbar li:not(:last-child) {
  margin-right: 20px;
}

.top-navbar-left li:first-child {
  padding-right: 22px;
  border-right: 2px solid #899397;
  line-height: 20px;
}

.top-navbar .fa-globe-europe {
  margin-right: 5px;
}

.top-navbar .fa-angle-down {
  font-size: 22px;
  margin-left: 5px;
  vertical-align: middle;
}

.top-navbar-right .fa-search {
  color: #1AADC4;
}

/* Main Navigation */

.main-navbar {
  margin-top: 75px;
  height: 80px;
  line-height: 80px;
}

.main-navbar ul {
  list-style: none;
  font-size: 0;
}

.main-navbar li {
  display: inline-block;
  font-size: 16px;
}

.logo-img {
  vertical-align: middle;
}

.main-navbar-menu {
  float: right;
}

.main-navbar-menu a {
  color: #33475B;
  text-decoration: none;
}

.main-navbar-menu .fa-angle-down {
  margin-left: 15px;
  font-size: 22px;
  vertical-align: middle;
}

.main-navbar-menu-item:not(:first-child) {
  margin-left: 20px;
}

/* Hero */

.hero {
  padding: 55px 0 187px;
  color: #33475B;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: 75% 0%;
  background-color: #FFF4EF;
}

.hero-left {
  width: 50%;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 30px;
  font-weight: 900;
}

.hero-text {
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero .small-text {
  margin-top: 30px;
}

/* Aqua bar */

.aquabar {
  height: 85px;
  background-color: #AFEBE4;
  border-width: 3px 0 3px 0;
  border-color: #33475B;
  border-style: solid;
}

/* Services section */

.services {
  padding: 40px 0 50px;
  color: #33475B;
  background-color: #F4F9FD;
}

.services-intro {
  width: 45%;
  margin: 0 auto 40px;
  text-align: center;
}

.services-img {
  width: 250px;
  margin-bottom: 10px;
}

.intro-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.intro-description {
  line-height: 1.6;
}

/* CRM */

.crm {
  padding: 70px 0;
  margin-bottom: 50px;
}

.crm-left {
  width: 30%;
  float: left;
  text-align: center;
}

.crm-left img {
  width: 35%;
  margin-bottom: 20px;
}

.crm-left .btn {
  display: block;
  margin: 0 auto;
}

.crm-right {
  width: 70%;
  float:left;
}

.box-title {
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
}

.crm-right .box-title {
  margin-bottom: 25px;
}

.box-description {
  line-height: 1.8;
}

.crm-right .box-description {
  max-width: 80%;
  margin-bottom: 20px;
}

.feature-title {
  text-transform: uppercase;
  font-weight: 900;
}

.crm-right .feature-title {
  display: inline-block;
  margin: 0 45px 25px 0;
}

.box-line {
  height: 20px;
  width: 60%;
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 2px solid #899397;
}

.feature-list {
  list-style: none;
}

.feature-item {
  display: inline-block;
  margin-right: 20px;
  text-transform: capitalize;
}

.feature-list .fa-check-circle {
  color: #FE775A;
  margin-right: 15px;
}

/* Hub columns */

.hub-column {
  width: 30%;
  float: left;
  padding: 20px 40px;
  text-align: center;
}

.hub-column:nth-child(2) {
  margin: 0 5%;
}

.hub-column img {
  height: 100px;
  margin-bottom: 20px;
}

.hub-column .box-title {
  margin-bottom: 25px
}

.hub-column .box-description {
  margin-bottom: 60px;
}

.hub-column .box-line {
  width: 100%;
  margin-bottom: 30px;
}

.hub-column .feature-title {
  margin-bottom: 30px;
}

.hub-column .feature-list {
  display: block;
  text-align: left;
  margin-bottom: 50px;
}

/* Statistics section */

.statistics {
  padding: 40px 0 80px;
  color: #fff;
  text-align: center;
  background: rgb(0,164,188);
  background: linear-gradient(60deg, rgba(0,164,188,1) 0%, rgba(0,189,165,1) 100%);
}

.statistics .intro-title {
  text-transform: none;
}

.statistics .intro-description {
  margin-bottom: 60px;
}

.statistics-table-item {
  width: 25%;
  float: left;
  padding: 25px 0;
}

.statistics-table-item:not(:last-child) {
  border-right: 1px solid #fff;
}

.statistics-table-item img, .statistics-table-item .big-number {
  margin-bottom: 15px;
}

.statistics-table-item img {
  height: 33px;
}

.big-number {
  font-size: 40px;
  font-weight: 900;
}

.statistics-table-item .big-number span {
  margin-left: 5px;
  font-size: 25px;
  font-weight: 400;
  vertical-align: middle;
}

.table-row:first-child {
  border-bottom: 1px solid #fff;
}

/* Customers section */

.customers {
  color: #33475B;
  padding: 50px 0 0;
}

.clients {
  padding: 0 80px;
  margin-bottom: 30px;
}

.clients-left {
  float: left;
  width: 20%;
}

.clients-left span {
  font-weight: 900;
}

.clients-right {
  float: right;
  width: 60%
}

.clients .big-number {
  font-size: 50px;
  margin-bottom: 30px;
}

.clients img {
  width: 153px;
  padding: 10px;
  vertical-align: middle;
}

/* CTA */

.cta {
  padding: 40px 0;
}

.cta-left {
  float: left;
  width: 50%;
  padding: 30px 84px 0 0;
}

.cta-left .intro-title {
  margin-bottom: 45px;
}

.cta-left .intro-description {
  margin-bottom: 40px;
}

.cta-left button {
  margin-bottom: 40px;
}

.cta-right {
  float: left;
  width: 50%;
  text-align: right;
}

.cta-right img {
  width: 55%;
}

/* Footer */

footer {
  padding: 40px 0 0;
  color: #CBD6E2;
  background-color: #32495B;
  text-transform: capitalize;
}

footer ul {
  list-style: none;
}

footer a {
  color: #CBD6E2;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

.footer-menu {
  margin-bottom: 80px;
}

.footer-column {
  width: 25%;
  float: left;
}

.footer-column li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-title {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
}

.social a:not(:last-child) {
  margin-right: 20px;
}

/* Language Selection */

.language {
  text-align: center;
  margin-bottom: 20px;
}

.language li {
  display: inline-block;
}

.language li:not(:last-child) {
  margin-right: 25px;
}

/* Copyright */

.copyright {
  padding: 40px 0;
  border-top: 1px solid #CBD6E2;
}

.copyright-left img {
  margin-bottom: 5px;
}

.copyright-left p {
  color: #fff;
}

.copyright-left {
  width: 50%;
  float: left;
}

.copyright-right {
  width: 50%;
  float: right;
  text-align: right;
}

.legal li {
  display: inline-block;
}

.legal li:not(:last-child) {
  margin-right: 20px;
}

/* Chat Support */

.chat-support {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.chat-support .btn-round {
  position: relative;
  bottom: 0;
  left: 100%;
  transform: translateX(-100%);
  line-height: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chat-popup {
  margin-bottom: 20px;
  padding: 40px 22px 20px;
  max-width: 250px;
  min-height: 120px;
  color: #33475B;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  border-radius: 5px;
  text-transform: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-popup #bot-avatar {
  width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-popup .fa-times {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #425B76;
  font-size: 20px;
  cursor: pointer;
}

.chat-popup p img {
  width: 18px;
  margin-right: 5px;
}
