* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.btn {
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 11px;
  outline: none;
  cursor: pointer;
}

.btn-white {
  background-color: #FAFCFE;
  color: #FE775A;
  border: 1px solid #FE775A;
}

.btn-orange {
  font-weight: 500;
  color: #fff;
  background-color: #FE775A;
}

.btn-big {
  padding: 20px 40px;
}

.small-text {
  font-size: 13px;
}

.box {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.top-navbar {
  height: 80px;
  background-color: #F4F9FD;
  color: #33475B;
  border-bottom: 1px solid #32495B;
  line-height: 80px;
}

.top-navbar ul {
  list-style: none;
}

.top-navbar-left {
  float: left;
}
.top-navbar-right {
  float: right;
}

.top-navbar a {
  text-decoration: none;
  color: #33475B;
  text-transform: capitalize;
}

.top-navbar li {
  display: inline-block;
}

.top-navbar li:not(:last-child) {
  margin-right: 20px;
}

.top-navbar-left li:first-child {
  padding-right: 22px;
  border-right: 2px solid #899397;
  line-height: 20px;
}

.top-navbar .fa-globe-europe {
  margin-right: 5px;
}

.top-navbar .fa-angle-down {
  font-size: 22px;
  margin-left: 5px;
  vertical-align: middle;
}

.top-navbar-right .fa-search {
  color: #1AADC4;
}

.main-navbar {
  height: 80px;
  line-height: 80px;
}

.main-navbar ul {
  list-style: none;
}

.main-navbar li {
  display: inline-block;
}

.logo-img {
  vertical-align: middle;
}

.main-navbar-menu {
  float: right;
}

.main-navbar-menu a {
  color: #33475B;
  text-decoration: none;
}

.main-navbar-menu .fa-angle-down {
  margin-left: 15px;
  font-size: 22px;
  vertical-align: middle;
}

.main-navbar-menu-item:not(:first-child) {
  margin-left: 20px;
}

.hero-left {
  width: 50%;
}

.hero {
  padding: 55px 0 187px;
  color: #33475B;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: 75% 0%;
  background-color: #FFF4EF;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 30px;
  font-weight: 900;
}

.hero-text {
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero .small-text {
  margin-top: 30px;
}

.aquabar {
  height: 85px;
  background-color: #AFEBE4;
  border-width: 3px 0 3px 0;
  border-color: #33475B;
  border-style: solid;
}

.services {
  padding: 40px 0;
  color: #33475B;
  background-color: #F4F9FD;
}

.services-intro {
  width: 45%;
  margin: 0 auto 40px;
  text-align: center;
}

.services-img {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  background-color: midnightblue;
}

.services-intro-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.crm {
  padding: 70px 0;
  background-color: #fff;
}

.crm-left {
  width: 32%;
  float: left;
  text-align: center;
}

.crm-left img {
  width: 35%;
  margin-bottom: 20px;
}

.crm-left .btn {
  display: block;
  margin: 0 auto;
}

.crm-right {
  width: 68%;
  float:left;
}

.crm-right .crm-title {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 900;
}

.crm-right .crm-description {
  max-width: 80%;
  margin-bottom: 20px;
  line-height: 1.8;
}

.crm-right .crm-feature {
  display: inline-block;
  margin: 0 45px 25px 0;
  text-transform: uppercase;
  font-weight: 900;
}

.crm-line {
  height: 20px;
  width: 55%;
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 2px solid #899397;
}

.crm-feature-list {
  list-style: none;
}

.crm-feature-item {
  display: inline-block;
  margin-right: 20px;
}

.crm-feature-list .fa-check-circle {
  color: #FE775A;
  margin-right: 15px;
}
